.filtersButtonsStyles {
    padding: 0.5rem;
    width: 8rem;
    border: none;
    transition-property: none;
    background-color: white;
}

.filtersButtonsStyles:active {
    box-shadow: none !important;
}

.buttonWrapperStyles {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sizeStyles,
.selectedSizeStyles {
    border: 1px solid #F3F3F3;
    color: #515356;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0 0.25rem;
}

.selectedSizeStyles {
    background-color: #F3F3F3;
}

.sizesWrapperStyles {
    display: flex;
    justify-content: space-between;
    width: 12rem;
}
