.counterButtonStyles {
    border: 1px solid #F3F3F3;
    color: #515356;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0 0.25rem;
    background-color: #F3F3F3;
    font-size: 2rem;
}

.counterStyles {
    border: 1px solid #F3F3F3;
    color: #515356;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0 0.25rem;
    font-size: 1rem;
}

.counterWrapperStyles {
    display: flex;
}