.imageStyles > img {
    width: 16.5rem;
    height: 24.5rem;
}

.imageStyles {
    margin-bottom: 3rem;
}

.imageContainerStyles {
    justify-content: center;
}

.featuredHoveredImagesStyles {
    position: relative;
}

.featuredHoveredImagesStyles p:nth-of-type(1) {
    width: 19rem;
}

.featuredHoveredImagesStyles:hover img {
    opacity: 0.5;
}

.featuredHoveredImagesStyles span {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0.25rem 0.5rem;
    color: white;
    background-color: #FF6008;
    cursor: default;
}

.buttonStyles {
    padding: 1rem 0.5rem;
    width: 10rem;
    border: none;
    position: absolute;
    bottom: 19rem;
    left: 3rem;
}

.featuredSecitonStyles {
    background-color: rgba(252,252,252, 1);
}

.quickViewStyles {
    width: 69rem;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}